@Styles.Render("~/Content/css")
<div>
    <h4 class="bg-info">Created by <b>Aniket Nalavade</b></h4>
    <h4 class="bg-info">Center  <em>Khargar</em></h4>
    <h4 class="bg-info">Roll No <b>220340520024</b></h4>
</div>
